@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url('logo-back.png');
    background-size: 50%; 
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 20px;
}

.title {
    text-align: center;
    font-family: Montserrat;
}

label {
    font-size: 20px;
    display: block;
    font-family: Montserrat;
    color: white;
}


input {
    margin: 10px 0px 10px 0px;
    background-color:white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
}

textarea {
    margin: 10px 0px 10px 0px;
    background-color:white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
} 

.availability_block {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

strong {
    padding: 5px 5px 5px 5px;
    background-color: #062d1f;
    color: white;
}

.title_products {
    font-family: Montserrat;
    color: white;
}

table {
    font-family: Montserrat;
    width: 100%;
    border-collapse: collapse;
    background-color:white; 
}

table, th, td {
    border: 2px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}

.hidden {
    display: none;
}

.Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

.Form_new_product {
    width: 500px;
    display: block; 
    background-color: #062d1f; 
    padding: 20px 20px 0px 20px;
    border-radius: 8px; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
    text-align: center; 
}

button {
    margin: 20px 0px 20px 0px;
    background-color: #28a745;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #1b6c2e;
}